Advent1/Advent1/obj/project.assets.json
Advent1/Advent1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Advent1/Advent1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Advent1/Advent1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Advent1/Advent1/obj/Debug/netcoreapp2.1/Advent1.csproj.FileListAbsolute.txt
Advent1/Advent1/obj/Debug/netcoreapp2.1/Advent1.AssemblyInfo.cs
Advent1/Advent1/obj/Advent1.csproj.nuget.g.targets
Advent1/Advent1/obj/Advent1.csproj.nuget.g.props
Advent1/Advent1/bin/Debug/netcoreapp2.1/Advent1.runtimeconfig.json
Advent1/Advent1/bin/Debug/netcoreapp2.1/Advent1.runtimeconfig.dev.json
Advent1/Advent1/bin/Debug/netcoreapp2.1/Advent1.deps.json
Advent1/.vs/Advent1/v15/Server/sqlite3/storage.ide-wal
Advent1/.vs/Advent1/v15/Server/sqlite3/storage.ide-shm
Advent1/.vs/Advent1/v15/Server/sqlite3/storage.ide
Advent1/.vs/Advent1/v15/Server/sqlite3/db.lock
